worker:
  name: worker
  replicas: 1
  image:
    repository: dockersamples/examplevotingapp_worker

vote:
  name: vote
  replicas: 1
  image:
    repository: dockersamples/examplevotingapp_vote
  service:
    name: vote-service
    type: NodePort
    port: 8080
    targetPort: 80
    nodePort: 31000


result:
  name: result
  replicas: 1
  image:
    repository: dockersamples/examplevotingapp_result
  service:
    name: result-service
    type: NodePort
    port: 8081
    targetPort: 80
    nodePort: 31001

redis:
  name: redis
  replicas: 1
  image:
    repository: redis
    tag: alpine
  service:
    name: redis-service
    type: ClusterIP
    port: 6379
    targetPort: 6379
  storage:
     claimname: redis-pvc
     classname: rook-ceph-block
     size: 1Gi


database:
  name: db
  replicas: 1
  image:
    repository: postgres
    tag: 15-alpine
  credentials:
    username: postgres
    password: postgres
  service:
    name: db-service
    type: ClusterIP
    port: 5432
    targetPort: 5432
  storage:
    claimname: database-pvc
    classname: rook-ceph-block
    size: 1Gi
